@charset "UTF-8";
.jazz_main {
  position: absolute;
  width: 365px;
  height: 246px;
}

.jazz_main img {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 5px;
  right: -60px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.jazz_photo {
  position: absolute;
  left: 0;
  width: 256px;
  height: 246px;
  z-index: 2;
  background: url(/assets/images/jazz.jpg);
  background-size: cover;
  background-position: right;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.jazz_photo div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 256px;
  height: 246px;
  border-radius: 12px;
  background: #000fb588;
}

.jazz_photo div div {
  position: absolute;
  width: 229px;
  height: 94px;
  background: rgba(0, 0, 0, 0.28);
}

.jazz_photo div div h1 {
  font-family: "poppins";
  position: absolute;
  top: -9px;
  left: 5px;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}

.jazz_photo div div p {
  position: absolute;
  top: 45px;
  left: 5px;
  line-height: 1.3;
  font-family: "Poppins" !important;
  font-weight: 300;
  font-size: 12px;
  text-align: left;
  color: #fff;
}

.classic_main {
  position: absolute;
  width: 365px;
  height: 246px;
}

.classic_main img {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 5px;
  right: -60px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.classic_photo {
  position: absolute;
  left: 0;
  width: 256px;
  height: 246px;
  z-index: 2;
  background: url(/assets/images/classic.jpg);
  background-size: cover;
  background-position: right;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.classic_photo div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 256px;
  height: 246px;
  border-radius: 12px;
  background: #00b53688;
}

.classic_photo div div {
  position: absolute;
  width: 229px;
  height: 94px;
  background: rgba(0, 0, 0, 0.28);
}

.classic_photo div div h1 {
  font-family: "poppins", serif;
  position: absolute;
  top: -9px;
  left: 5px;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}

.classic_photo div div p {
  position: absolute;
  top: 45px;
  left: 5px;
  line-height: 1.3;
  font-family: Poppins, serif;
  font-weight: 300;
  font-size: 12px;
  text-align: left;
  color: #fff;
}

.music_slider .item {
  height: 273px;
  width: 370px;
}

.rock_main {
  position: absolute;
  width: 365px;
  height: 246px;
}

.rock_main img {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 5px;
  right: -60px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.rock_photo {
  position: absolute;
  left: 0;
  width: 256px;
  height: 246px;
  z-index: 2;
  background: url(/assets/images/rock.jpg);
  background-size: cover;
  background-position: right;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.rock_photo div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 256px;
  height: 246px;
  border-radius: 12px;
  background: #b5000088;
}

.rock_photo div div {
  position: absolute;
  width: 229px;
  height: 94px;
  background: rgba(0, 0, 0, 0.28);
}

.rock_photo div div h1 {
  font-family: "poppins";
  position: absolute;
  top: -9px;
  left: 5px;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}

.rock_photo div div p {
  position: absolute;
  top: 45px;
  left: 5px;
  line-height: 1.3;
  font-family: Poppins;
  font-weight: 300;
  font-size: 12px;
  text-align: left;
  color: #fff;
}

.rotate {
  -webkit-animation: 2s linear infinite rotate;
          animation: 2s linear infinite rotate;
  position: relative;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.music_area_size {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 273px;
  text-align: -webkit-center;
}

.music_area_size .item {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.music_header {
  margin-left: 9.5%;
  margin-bottom: 20px;
  font-family: Poppins !important;
  font-weight: bold;
  font-size: 27px;
}

/* owl carousel okları düzenleme */
.music_slider .owl-nav {
  margin-top: -170px !important;
}

.music_slider .owl-nav .owl-next {
  background: #45726e !important;
  width: 55px !important;
  height: 55px !important;
  border-radius: 50% !important;
  position: relative;
  float: right;
  right: -50px;
}

.music_slider .owl-nav .owl-prev {
  background: #45726e !important;
  width: 55px !important;
  height: 55px !important;
  border-radius: 50% !important;
  position: relative !important;
  float: left !important;
  left: -50px;
}

.music_slider .owl-nav .owl-prev i {
  color: white !important;
}

.music_slider .owl-nav .owl-next i {
  color: white !important;
}

/* owl carousel okları düzenleme son */
.blog_bg {
  position: absolute;
  left: 3%;
  width: 94%;
  height: 719px;
  border-radius: 0px 0px 90px 0px;
  background: #007a58;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.blog_header {
  position: absolute;
  top: 10%;
  left: 7%;
}

.shapeofblog {
  position: absolute;
  top: 18%;
  right: 15%;
  background-position: right;
  border-radius: 50%;
  width: 365px;
  height: 365px;
  background: #036248;
}

.shapeofblog1 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  width: 311px;
  height: 311px;
  background: #036248;
}

.blog_card1 {
  width: 365px;
  height: 219.5px;
  border-radius: 18px;
  /* background: url(...); */
  -webkit-box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
}

.blog_card2 {
  margin-top: 30px;
  width: 365px;
  height: 219.5px;
  border-radius: 18px;
  /* background: url(...); */
  -webkit-box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
}

.blog_card3 {
  width: 365px;
  height: 495px;
  border-radius: 18px;
  /* background: url(...); */
  -webkit-box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
}

.blog_card4 {
  width: 365px;
  height: 219.5px;
  border-radius: 18px;
  /* background: url(...); */
  -webkit-box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
}

.blog_card5 {
  margin-top: 30px;
  width: 365px;
  height: 219.5px;
  border-radius: 18px;
  /* background: url(...); */
  -webkit-box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
}

.blog_card6 {
  width: 365px;
  height: 495px;
  border-radius: 18px;
  /* background: url(...); */
  -webkit-box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
}

.blog_slider {
  text-align: -webkit-center;
}

.blog_slider .item {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 515px;
}

/* owl carousel okları düzenleme */
.blog_slider .owl-nav {
  margin-top: -293px !important;
}

.blog_slider .owl-nav .owl-next {
  background: #45726e !important;
  width: 55px !important;
  height: 55px !important;
  border-radius: 50% !important;
  position: relative;
  float: right;
  right: -50px;
}

.blog_slider .owl-nav .owl-prev {
  background: #45726e !important;
  width: 55px !important;
  height: 55px !important;
  border-radius: 50% !important;
  position: relative !important;
  float: left !important;
  left: -50px;
}

.blog_slider .owl-nav .owl-prev i {
  color: white !important;
}

.blog_slider .owl-nav .owl-next i {
  color: white !important;
}

/* owl carousel okları düzenleme son */
.tv_header {
  position: absolute;
  left: 9.5%;
}

.tv_slider {
  position: absolute;
  top: 71px;
}

.tv_slider .item {
  display: -ms-grid;
  display: grid;
  place-content: center;
  justify-items: center;
}

.tv_card {
  position: relative;
  text-align: -webkit-center;
}

.tv_card .tv_card_color {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 286px;
  height: 199px;
  border-radius: 12px;
  background: #e6000085;
}

.size_of_tv {
  width: 80%;
  margin-left: 10%;
}

/* owl carousel okları düzenleme */
.tv_slider .owl-nav {
  margin-top: -162px !important;
}

.tv_slider .owl-nav .owl-next {
  background: #45726e !important;
  width: 55px !important;
  height: 55px !important;
  border-radius: 50% !important;
  position: relative;
  float: right;
  right: -50px;
}

.tv_slider .owl-nav .owl-prev {
  background: #45726e !important;
  width: 55px !important;
  height: 55px !important;
  border-radius: 50% !important;
  position: relative !important;
  float: left !important;
  left: -50px;
}

.tv_slider .owl-nav .owl-prev i {
  color: white !important;
}

.tv_slider .owl-nav .owl-next i {
  color: white !important;
}

/* owl carousel okları düzenleme son */
.kazandiran_urunler {
  background: url(/assets/images/kazandiran_urunler.svg);
  background-position: center;
  background-size: cover;
  width: 345px;
  height: 510px;
  border-radius: 31px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.kazandiran_urunler1 {
  width: 245px;
  height: 334px;
  border-radius: 30px;
  background: #e2e3de;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  width: 100%;
  height: 276px;
  background: #dbdbdb;
}

.green_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 61px;
  height: 61px;
  background: #0b4628;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.kargo {
  width: 230px;
}

.kargo .shape_of_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kargo h1 {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #2c2c2c;
}

.kargo p {
  margin-top: -40px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  color: #000;
}

.footer_bg {
  background: url(/assets/images/shape_footer.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 496px;
  background-color: #004D3F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_text1 {
  margin: 10px 2%;
  max-width: 300px;
}

.footer_text1 h1 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 22px;
  text-align: left;
  color: #fff;
}

.footer_text1 h1 strong {
  font-weight: 600;
}

.footer_text1 p {
  font-family: Poppins;
  margin-bottom: 0.6em;
  font-weight: 250;
  line-height: 1.5;
  max-width: 220px;
  font-size: 12px;
  text-align: left;
  color: #fff;
}

#extra_top_margin {
  margin-top: 100px !important;
}

h1 {
  font-family: "poppins", serif !important;
}

p {
  font-family: "poppins" !important;
}

rs-layer {
  font-family: "poppins" !important;
}

a {
  font-family: "poppins" !important;
}

strong {
  font-family: "poppins" !important;
}

div {
  font-family: "Poppins" !important;
}

img {
  font-family: "Poppins" !important;
}

body {
  font-family: "poppins", serif !important;
}
/*# sourceMappingURL=style.css.map */