// müzik bölümü
// jazz item
.jazz_main {
    position: absolute;
    width: 365px;
    height: 246px;

    img {
        position: absolute;
        width: 240px;
        height: 240px;
        top: 5px;
        right: -60px;
        transform-origin: center;
    }
}
.jazz_photo{
    position: absolute;
    left: 0;
    width: 256px;
    height: 246px;
    z-index: 2;
    background: url(/assets/images/jazz.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 12px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    div{
        display: grid;
        place-items: center;
        width: 256px;
        height: 246px;
        border-radius: 12px;
        background: #000fb588;

        div{
            position: absolute;
            // top: 105px;
            // left: 13px;
            width: 229px;
            height: 94px;
            background: rgba(0, 0, 0, 0.28);

            h1{
                font-family: "poppins";
                position: absolute;
                top: -9px;
                left: 5px;
                font-weight: 300;
                font-size: 18px;
                color: #fff;
                
            }
            p{
                position: absolute;
                top: 45px;
                left: 5px;
                line-height: 1.3;
                font-family: "Poppins" !important;
                font-weight: 300;
                font-size: 12px;
                text-align: left;
                color: #fff;

            }
        }
    }
}
//  jazz item son

// classic coffee item

.classic_main {
    position: absolute;
    width: 365px;
    height: 246px;

    img {
        position: absolute;
        width: 240px;
        height: 240px;
        top: 5px;
        right: -60px;
        transform-origin: center;
    }
}
.classic_photo{
    position: absolute;
    left: 0;
    width: 256px;
    height: 246px;
    z-index: 2;
    background: url(/assets/images/classic.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 12px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    div{
        display: grid;
        place-items: center;
        width: 256px;
        height: 246px;
        border-radius: 12px;
        background: #00b53688;

        div{
            position: absolute;
            // top: 105px;
            // left: 13px;
            width: 229px;
            height: 94px;
            background: rgba(0, 0, 0, 0.28);

            h1{
              font-family: "poppins", serif;
                position: absolute;
                top: -9px;
                left: 5px;
                font-weight: 300;
                font-size: 18px;
                color: #fff;
                
            }
            p{
                position: absolute;
                top: 45px;
                left: 5px;
                line-height: 1.3;
              font-family: Poppins, serif;
                font-weight: 300;
                font-size: 12px;
                text-align: left;
                color: #fff;

            }
        }
    }
}

// classic coffee item son

.music_slider{
    .item{
        height: 273px;
        width: 370px;
    }
}

// Rock coffee card

.rock_main {
    position: absolute;
    width: 365px;
    height: 246px;

    img {
        position: absolute;
        width: 240px;
        height: 240px;
        top: 5px;
        right: -60px;
        transform-origin: center;
    }
}
.rock_photo{
    position: absolute;
    left: 0;
    width: 256px;
    height: 246px;
    z-index: 2;
    background: url(/assets/images/rock.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 12px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    div{
        display: grid;
        place-items: center;
        width: 256px;
        height: 246px;
        border-radius: 12px;
        background: #b5000088;

        div{
            position: absolute;
            // top: 105px;
            // left: 13px;
            width: 229px;
            height: 94px;
            background: rgba(0, 0, 0, 0.28);

            h1{
                font-family: "poppins";
                position: absolute;
                top: -9px;
                left: 5px;
                font-weight: 300;
                font-size: 18px;
                color: #fff;
                
            }
            p{
                position: absolute;
                top: 45px;
                left: 5px;
                line-height: 1.3;
                font-family: Poppins;
                font-weight: 300;
                font-size: 12px;
                text-align: left;
                color: #fff;

            }
        }
    }
}

// Rock coffee card

.rotate {
    animation: 6s linear infinite rotate;
    position: relative;
    // top: $size * -1;
    transform-origin: 50% 100%;
}

@keyframes rotate {
    from {
    transform: rotate(0deg)
    }
    to {
    transform: rotate(360deg)
    }
}

.music_area_size{
    position: absolute;
    left: 10%;
    width: 80%;
    height: 273px;
    text-align: -webkit-center;
    .item{
    display: grid;
    place-items: center;
    }
    
}
.music_header{
    margin-left: 9.5%;
    margin-bottom: 20px;
    font-family: Poppins !important;
    font-weight: bold;
    font-size: 27px;
};

/* owl carousel okları düzenleme */

.music_slider .owl-nav {
    margin-top: -170px !important;;
  }
  .music_slider .owl-nav .owl-next{
    background: #45726e !important;
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
    position: relative;
    float: right;
    right: -50px;
  }
  .music_slider .owl-nav .owl-prev{
    background: #45726e !important;
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
    position: relative !important;
    float: left !important;
    left: -50px;
  }
  .music_slider .owl-nav .owl-prev i{
    color: white !important;
  }
  .music_slider .owl-nav .owl-next i{
    color: white !important;
  }
  /* owl carousel okları düzenleme son */

// müzik bölümü son

// blog bölümü

.blog_bg{
    position: absolute;
    left: 3%;
    width: 94%;
    height: 719px;
    border-radius: 0px 0px 90px 0px;
    background: #007a58;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

}

.blog_header{
    position: absolute;
    top: 10%;
    left: 7%;
}
.shapeofblog{
    position: absolute;
    top: 18%;
    right: 15%;
    background-position: right;
    border-radius: 50%;
    width: 365px;
    height: 365px;
    background: #036248;
}
.shapeofblog1{
    position: absolute;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    width: 311px;
    height: 311px;
    background: #036248;
}

.blog_card1{
    
    width: 365px;
    height: 219.5px;
    border-radius: 18px;
    /* background: url(...); */
    box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);

}
.blog_card2{
    margin-top: 30px;
    width: 365px;
    height: 219.5px;
    border-radius: 18px;
    /* background: url(...); */
    box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);

}
.blog_card3{
    
    width: 365px;
    height: 495px;
    border-radius: 18px;
    /* background: url(...); */
    box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
}
.blog_card4{
    
    width: 365px;
    height: 219.5px;
    border-radius: 18px;
    /* background: url(...); */
    box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
}
.blog_card5{
    margin-top: 30px;
    width: 365px;
    height: 219.5px;
    border-radius: 18px;
    /* background: url(...); */
    box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);

}
.blog_card6{
    
    width: 365px;
    height: 495px;
    border-radius: 18px;
    /* background: url(...); */
    box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.16);
}
.blog_slider{
    text-align: -webkit-center;
    .item{
        display: grid;
        place-content: center;
        height: 515px;
    }
}
/* owl carousel okları düzenleme */

.blog_slider .owl-nav {
    margin-top: -293px !important;
  }
  .blog_slider .owl-nav .owl-next{
    background: #45726e !important;
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
    position: relative;
    float: right;
    right: -50px;
  }
  .blog_slider .owl-nav .owl-prev{
    background: #45726e !important;
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
    position: relative !important;
    float: left !important;
    left: -50px;
  }
  .blog_slider .owl-nav .owl-prev i{
    color: white !important;
  }
  .blog_slider .owl-nav .owl-next i{
    color: white !important;
  }
  /* owl carousel okları düzenleme son */


.blog_news_heaader{
    font-family: poppins;
    font-weight: 300;
    font-size: 14px;
    color: #dbdbdb;
    line-height: 2;
    position: absolute;
    margin-left: 10px;
    margin-top: 130px;
    padding: 3px 10px;
    border-radius: 11px;
    background: #299309;
    border-left: 10px solid #b71a1a;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}


// blog bölümü son

// tv bölümü

.tv_header{
    position: absolute;
    left: 9.5%;
}
.tv_slider{
    position: absolute;
    top: 71px;
    .item{
        display: grid;
        place-content: center;
        justify-items: center;
    }
}
.tv_card{
    position: relative;
    text-align: -webkit-center;
    .tv_card_color{
    display: grid;
    place-items: center;
    width: 286px;
    height: 199px;
    border-radius: 12px;
    background: #e6000085;
    }
}

.size_of_tv{
    width: 80%;
    margin-left: 10%;
}

/* owl carousel okları düzenleme */

.tv_slider .owl-nav {
    margin-top: -162px !important;
  }
  .tv_slider .owl-nav .owl-next{
    background: #45726e !important;
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
    position: relative;
    float: right;
    right: -50px;
  }
  .tv_slider .owl-nav .owl-prev{
    background: #45726e !important;
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
    position: relative !important;
    float: left !important;
    left: -50px;
  }
  .tv_slider .owl-nav .owl-prev i{
    color: white !important;
  }
  .tv_slider .owl-nav .owl-next i{
    color: white !important;
  }
  /* owl carousel okları düzenleme son */

// tv bölümü son

// kazandıran ürünler bölümü

.kazandiran_urunler{
    background: url(/assets/images/kazandiran_urunler.svg);
    background-position: center;
    background-size: cover;
    width: 345px;
    height: 510px;
    border-radius: 31px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
.kazandiran_urunler1{
    width: 245px;
    height: 334px;
    border-radius: 30px;
    background: #e2e3de;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);

}


// kazandıran ürünler son

// bilgi kısmı

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 276px;
    background: #dbdbdb;
}
.green_circle{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 61px;
    height: 61px;
    background: #0b4628;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));

}
.kargo{
    
    width: 230px;
    .shape_of_icon{
    display: flex;
    justify-content: center;
    }
    h1{
        
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        color: #2c2c2c;
    }
    p{
        margin-top: -40px;
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        color: #000;
    }
}

// bilgi kısmı son

// footer


.footer_bg{
    background: url(/assets/images/shape_footer.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 496px;
    background-color: #004D3F;
    display: flex;
    justify-content: center;
}
.footer_text1{
    margin: 47px 2%;
    max-width: 300px;
    h1{
        font-family: Poppins;
        font-weight: 300;
        line-height: 1.5;
        font-size: 22px;
        text-align: left;
        color: #fff;
        strong{
            font-weight: 600;
        }
    }
    p{
        font-family: Poppins;
        margin-bottom: 0.6em;
        font-weight: 250;
        line-height: 1.5;
        max-width: 220px;
        font-size: 12px;
        text-align: left;
        color: #fff;
    }
}
#extra_top_margin{
    margin-top: 100px !important;
}
#fligran_lg{
    align-self: flex-end;
    position: absolute !important;
    right: 0 !important;
    // bottom: 0 !important;
}

// sosyal medya iconları
.social{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px !important;
    a{
        font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-align: left;
    line-height: 14px;
    margin: 8px 0;
    display: flex;
    }
    .fab {
        background: #fff;
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: #111;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    }
    .fa-facebook-f{
        font-size: 25px;
    transition: .5s;
    color: #3b5998;
    }
    .fa-instagram{
        font-size: 25px;
    transition: .5s;
    color: #dc2743;
    }
    .fa-pinterest{
        font-size: 25px;
        transition: .5s;
        color: #C8232C;
    }
    .fa-twitter{
        font-size: 25px;
    transition: .5s;
    color: #00ACEE;
    }
    .fa-youtube{
        font-size: 25px;
    transition: .5s;
    color: #FF0000;
    }
    .fa-facebook-f:hover{
        color: white;
    background: #3b5998;
    transform: scale(1.2);
    }
    .fa-instagram:hover{
        color: white;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    transform: scale(1.2);
    }
    .fa-pinterest:hover{
        color: white;
    background: #C8232C;
    transform: scale(1.2);
    }
    .fa-twitter:hover{
        color: white;
    background: #00ACEE;
    transform: scale(1.2);
    }
    .fa-youtube:hover{
        color: white;
    background: #FF0000;
    transform: scale(1.2);
    }
    
}
// sosyal medya iconları son

#app{
    max-width: 112px;
    display: flex;
    align-self: auto;
    img{
        margin: 3px;
    }
}

.footer_line1{
    position: absolute;
    align-self: flex-end;
    width: 100%;
    .line-1{
        display: flex;
            align-content: center;
        background-color: #00382E;
        width: 100%;
        height: 50px;
        p{
            margin-left: 10%;
            margin-top: 13px;
            font-family: Poppins;
            font-weight: 200;
            font-size: 17px;
            text-align: left;
            color: #fff;
            strong{
                font-weight: 600;
            }
        }
        div{
            
            position: absolute;
            display: flex;
            right: 10%;
            margin-top: 13px;
            img{
                margin-left: 5%;
                height: 25px;
            }
        }
    }
    .line-2{
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: #002620;
        width: 100%;
        height: 50px;
        img{
            height: 36px;
        }
    }
}

// footer son

//buton tasarımı

.button_scss {
    font: 12px poppins;
    border-radius: 15.5px 15.5px 15.5px 15.5px;
    display: inline-block;
    padding: .5em 1em;
    text-align: center;
    color: #45726E;
    background: red; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(190, 32, 32) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    
}
.button_scss:hover {
    background-position: left;
    color: #ffffff;
    svg path{
        transition: 1s ease-out;
        fill: rgb(255, 255, 255);
    }
}

//buton tasarımı son

//test kısmı


.half_circle-1 {
    position: relative;
    margin-right: 188px;
    margin-top: -365px;
    z-index: 1;
    float: right;
    height: 134px;
    width: 268px;
    background: #E4451C;
    display: inline-block;
    border-bottom-left-radius: 268px;
    border-bottom-right-radius: 268px;
    transform: rotate(357deg);
  }
  .test_product-1{
    margin-left: -57px;
    margin-top: -91px;
    position: absolute;
    width: 388px !important;
    height: auto !important;
    max-inline-size: none;
  }


//test kısmı son




.deneme_anar{
    position: absolute;
    right: 3.5%;
    max-width: 1332.911px;
    height: 384.011px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));

    img{
        width: 100%;
        height: 100%;
    }
}

// toplu font 

h1{
  font-family: "poppins", serif !important;
}
p{
    font-family: "poppins" !important;
}
rs-layer{
    font-family: "poppins" !important;
}
a{
    font-family: "poppins" !important;
}
strong{
    font-family: "poppins" !important;
}
div{
    font-family: "Poppins" !important;
}
img{
    font-family: "Poppins" !important;
}
body{
    font-family: "poppins", serif !important;
}